<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/themes/base/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")

    <style>
        .postit {
            background-color: yellow; 
            min-width:100px; 
            min-height:100px;
            max-height: 200px;
            max-width: 300px;
            width: 200px;
            padding: 10px 10px 10px 10px;
            position: absolute;
            border-width: 2px;
            border-color: red;
        }
        .postit .delete 
        {
            width: 20px;
            height: 15px;
            background-image: url('Images\\Bin_closed.png');
            float: right;
        }

    </style>
</head>
<body>
    <header>
        <div class="content-wrapper">
            <div class="float-left">
                <p class="site-title">
                    <a href="~/">Postit Web API sample</a></p>
            </div>
            <div class="float-right">
                <nav>
                    <ul id="menu">
                        <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                        <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    </ul>
                </nav>
            </div>
        </div>
    </header>
    @RenderBody()

   
    @RenderSection("scripts", required: false)
</body>
</html>
